!!!5
html
  head
    title Jessica Frankl
    link(rel='stylesheet', href='/style.css')
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css")
    link(rel='stylesheet', href='/admin.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='/jquery.ui.widget.js')
    script(src='/jquery.iframe-transport.js')
    script(src='/jquery.fileupload.js')
    script(src='/jquery.cloudinary.js')
    cloudinary.cloudinary_js_config()
  body
  form.newPictureForm(role='form', action='/newPicture', method='POST', onsubmit='validate()')
    input(type='hidden', name='collectionName', value=collectionName)
    input(type='hidden', name='pictureUrl', value='')
    div.form-group
      label File
      .preview
      !=cloudinary.uploader.image_upload_tag('image')
    div.form-group
      label Caption
      textarea.form-control(name='description', placeholder='optional...')
    div.clearfix
      button.btn.btn-primary.pull-right(type='submit', data-loading-text="Logging In...") Save Picture
  script.
    var uploaded = false
    // Configure Cloudinary
    $.cloudinary.config({ api_key: '!{api_key}', cloud_name: '!{cloud_name}' })

    $('.cloudinary-fileupload').bind('fileuploadstart', function(e){
      $('.preview').html('Uploading...')
      uploaded = false
    })

    $('.cloudinary-fileupload').bind('cloudinarydone', function(e, data){
      uploaded = true
      $('.preview').html('Finished Uploading')
      $('.cloudinary-fileupload').hide()

      console.log(JSON.stringify(data.result))

      $('[name="pictureUrl"]').attr('value', data.result.url)

      return true
    })

    function validate() {
      return uploaded
    }

