extend layout

block links
  link(rel='stylesheet', href='/collection.css')

block content
  h2.collectionHead #{collection.name}
  -var picture1 = collection.pictures[0]
  -var otherPictures = collection.pictures.slice(1)
  div#picContainer
    img.main.active(src='#{picture1.url}')
    each picture in otherPictures
      img.main.hidden(src=picture.url)
    div#prev
      img.glyph(src='/glyphicons_210_left_arrow.png')
    div#next
      img.glyph(src='/glyphicons_211_right_arrow.png')
  script.
    var interval

    $(document).ready(function () {
      $('img').first().removeClass('hidden').addClass('active')
      resetInterval()
    })

    var resetInterval = function () {
      window.clearInterval(interval)
      interval = window.setInterval(changePic, 5000)
    }

    var changePic = function (isLeft) {
      console.log('changePic')
      var active = $('img.active')
      active.hide().removeClass('active')
      var next = isLeft? active.prev() : active.next()
      console.log(next.prop('tagName'))
      if(next.prop('tagName')!='IMG') next = isLeft? $('.main').last() : $('.main').first()

      next.show().addClass('active')

      resetInterval()
    }

    $('#prev').click(function () {
      changePic(true)
    })
    $('#next').click(function () {
      changePic()
    })

