!!!5
html
  head
    title Jessica Frankl
    link(rel='stylesheet', href='/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
  body
    .head
      h1 jessica frankl
    .left
      .content
        ul.main
          li gymnastics
          .sub.hidden
            ul
              li meet 1
              li meet 2
              li meet 3
          li portraits
          .sub.hidden
            ul
              li family
              li friends
          li other sports
          .sub.hidden
            ul
              li basketball camp 1
              li basketball camp 2
              li rec center
          li academics work
          .sub.hidden
            ul.sub
              li project 1
              li project 2
              li project 3
        ul.secondary
          li about
          li contact
          li links
    .right
      block content
    .footer
      h6 abc
  script.
    var alignDivs = function () {
      var minWidth = 175
      var width = $(window).width()
      var leftWidth = Math.max(Math.floor((width - 700)/2), minWidth)
      $('.left').css('width', leftWidth+'px')
      $('.left .content').css('padding-left', (leftWidth-minWidth)+'px')
      $('.head h1').css('padding-left', (leftWidth-minWidth+20)+'px')
      $('.right').css('padding-left', leftWidth+'px')
    }

    $(document).ready(alignDivs)
    $(window).resize(alignDivs)
    $('.main > li').click(function () {
      var sub = $(this).next()
      sub.toggle()
    })

    var changePic = function () {
      console.log('changePic')
      var active = $('img.active')
      active.hide().removeClass('active')
      var next = active.next()
      console.log(next.prop('tagName'))
      if(next.prop('tagName')!='IMG') next = $('.right').find('img').first()

      next.show().addClass('active')
    }

    window.setInterval(changePic, 5000)