!!!5
html
  head
    title Jessica Frankl
    link(rel='stylesheet', href='/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
  body
    .container
      .head
        div
          h1
            a(href='/')
            | jessica frankl
        div.right
          ul
            li 
              a(href='/portfolio') Portfolio
            li 
              a(href='/bio') Bio
            li
              a(href='/contact') Contact
      .content
        block content
    .footer
      h6 abc