!!!5
html
  head
    if !title
      -title = 'Jessica Frankl'
    title #{title}
    link(rel='stylesheet', href='/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
  body
    .container
      .head
        div
          h1 jessica frankl
        div.right
          -var menu = { 'Portfolio': '/portfolio', 'Bio': '/bio', 'Contact': '/contact' };
          ul
            each val, key in menu
              li
                if title.indexOf(key)!=-1
                  a.active(href=val)= key
                else
                  a(href=val)= key
      .content
        block content
    .footer
      h6 abc