extend layout

block links
  link(rel='stylesheet', href='/portfolio.css')
block content
  each collection in collections
    - var path = '/portfolio/'+collection.name.toLowerCase()
    - var backgroundImage = collection.pictures[0]? 'background-image:url('+ collection.pictures[0].url+')' : ''
    div.collection(style=backgroundImage)
      h2 #{collection.name}