extend layout

block links
  link(rel='stylesheet', href='/portfolio.css')
block content
  each collection in collections
    - var path = '/portfolio/'+collection.name.toLowerCase()
    div.collection(path=path)
      h2 #{collection.name}
      - var width = Math.floor(800/collection.pictures.length)+'px'
      each p in collection.pictures
        - var backgroundImage = 'background-image:url('+ p.url+')'
        div.pic(style=backgroundImage+'; width: '+width)
  script.
    $('.collection').click(function () {
      window.location = $(this).attr('path')
    })