#picContainer
  position relative
  &:hover
    #prev, #next
      display block

#prev, #next
  position absolute
  top 0
  height 100%
  width 100px
  display none
  &:hover
    background rgba(0,0,0, .3)
  &:active
    background rgba(0,0,0, .5)

#prev
  left 0

#next
  right 0

i[class^='icon-']
  position absolute
  left 50%
  top 50%
  margin -15px 0 0 -15px

