#picContainer
  position relative
  &:hover
    #prev, #next
      display block

#prev, #next
  position absolute
  top 0
  height 100%
  width 100px
  // background #555
  display none
  &:hover
    background rgba(0,0,0, .3)
  &:active
    background rgba(0,0,0, .5)

#prev
  left 0

#next
  right 0

i
  position absolute
  left 50%
  margin-left -15px
  top 50%
  margin-top -15px