body {
  margin: 0;
  font-family: Helvetica;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
/* Firefox */
  -ms-user-select: none;
/* IE 10  */
/* Currently not supported in Opera but will be soon */
  -o-user-select: none;
  user-select: none;
}
h1 {
  margin: 0;
  padding-top: 15px;
}
h2 {
  font-size: 18px;
}
.collectionHead {
  text-align: center;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
.head div {
  float: left;
}
.head .right {
  float: right;
}
.head ul {
  list-style-type: none;
  padding-top: 10px;
}
.head ul li {
  display: inline;
  padding: 10px;
}
.head ul li a {
  text-decoration: none;
  color: inherit;
}
.head ul li a:hover,
.head ul li a.active {
  color: #900000;
}
.content {
  padding-top: 10px;
}
.content img {
  width: 800px;
  max-height: 800px;
}
.hidden {
  display: none;
}
.footer {
  background: #000;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 16px;
  line-height: 0;
}
.loginForm,
.newPictureForm {
  margin: 0 auto;
  padding: 10px;
}
.loginForm button,
.newPictureForm button {
  width: 100%;
  background: #333;
  border-color: #111;
}
.loginForm button:hover,
.newPictureForm button:hover {
  background: #222;
  border-color: #000;
}
.loginForm button:focus,
.newPictureForm button:focus {
  background: #333;
  border-color: #333;
  outline-width: 0;
}
.loginForm input:focus,
.newPictureForm input:focus,
.loginForm textarea:focus,
.newPictureForm textarea:focus {
  border-color: #666;
}
.loginForm {
  width: 200px;
}
.newPictureForm {
  width: 400px;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
