activeColor = #900000

body
  margin 0
  font-family Helvetica
  user-select none
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE 10  */

  /* Currently not supported in Opera but will be soon */
  -o-user-select: none;
  user-select: none;  

h1 
  margin 0

.container
  max-width 800px
  margin 0 auto

.head
  div
    float left
  .right
    float right
  ul
    list-style-type none
    li
      display inline
      padding 10px
      a
        text-decoration none
        color inherit
        &:hover, &.active
          color activeColor

.content
  img
    width: 800px

.hidden
  display none

.footer
  background #000
  color #fff
  text-align center
  position absolute
  bottom 0
  width 100%
  font-size 16px

.loginForm, .newPictureForm
  margin 0 auto
  padding 10px
  button
    width 100%
    background #333
    border-color #111
    &:hover
      background #222
      border-color #000
    &:focus
      background #333
      border-color #333
      outline-width 0
  input, textarea
    &:focus
      border-color #666

.loginForm
  width 200px

.newPictureForm
  width 400px